<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <p> See you later!!!{{name}}</p>
    <p>
      <a href="/{{name}}">Home</a>
     </p>
  </body>
</html>
`
